<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://angular-rdrsbm.stackblitz.io/"
            >Home</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="register">
  <form class="form-custom">
    <h1>Registrar</h1>
    <input
      type="text"
      name="email"
      [(ngModel)]="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      placeholder="Password"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="confirmPassword"
      name="password"
      placeholder="Repeat the password"
      required="required"
    />
    <button type="submit" (click)="register()">Ingresar</button>
    <p>¿Ya tiene una cuenta? <a routerLink="/login">Inicie sesión.</a></p>
  </form>
</div>
