.mask{
  height: 100%;
}

#intro-example {
  height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 580px;
    width: 1320px;
  }
}