<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Registrarse</a>
      </li>
    </ul>
  </div>
</nav>


<div class="login">
  <form action="" class="form-custom">
    <h1>Iniciar Sesión</h1>
    <input
      type="text"
      name="email"
      [(ngModel)]="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      placeholder="Password"
      required="required"
    />

    <button type="submit" (click)="login()">Ingresar</button>
    <p>¿No tiene una cuenta? <a routerLink="/register">Crea una.</a></p>
  </form>
</div>
